{
	"useTabs": true,
	"trailingComma": "none",
	"plugins": [
		"@ianvs/prettier-plugin-sort-imports",
		"prettier-plugin-packagejson"
	],
	"importOrder": [
		"<BUILTIN_MODULES>",
		"",
		"^react$",
		"^react-dom$",
		"^react-router$",
		"^react-router/(.*)$",
		"",
		"^@mantine/(.*)$",
		"",
		"<THIRD_PARTY_MODULES>",
		"",
		"^~/(.*)$",
		"",
		"^[.]{2}/",
		"^[.]/",
		"",
		"<TYPES>",
		"<TYPES>^[.]",
		"",
		"^\\u0000",
		"^.*\\.css$"
	],
	"importOrderTypeScriptVersion": "6.0.3"
}
