@import "tailwindcss";
@import "@mantine/core/styles.css";
@import "@mantine/dates/styles.css";
@import "@mantine/nprogress/styles.css";
@import "@mantine/schedule/styles.css";
@import "@mantine/notifications/styles.css";

@import "mantine-datatable/styles.css";

@font-face {
	font-family: "OCR B";
	src: url("/fonts/OCRB.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

* {
	white-space: pre-line;
}
