@import "@mantine/core/styles.css";
@import "@mantine/dates/styles.css";
@import "@mantine/nprogress/styles.css";
@import "@mantine/schedule/styles.css";
@import "@mantine/notifications/styles.css";
@import "@mantine/code-highlight/styles.css";

@import "mantine-datatable/styles.css";

@font-face {
	font-family: "OCR B";
	src: url("/fonts/OCRB.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

* {
	white-space: pre-line;
}

body {
	min-height: 100vh;
	min-width: 100vw;
}

[hidden] {
	display: none !important;
}

.animate-spin {
	animation: spin 1s linear infinite;
}

@keyframes spin {
	to {
		transform: rotate(360deg);
	}
}

.transition-rotate {
	transition-property: rotate;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms;
}

@media print {
	@page {
		size: landscape;
	}

	/* Hide the navbar */
	.mantine-AppShell-navbar {
		display: none !important;
	}

	/* Reset main content spacing and padding */
	.mantine-AppShell-main {
		padding: 0 !important;
		padding-left: 0 !important;
		margin: 0 !important;
	}

	.hide-on-print {
		display: none !important;
	}
}
